<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.NETWORK" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_3"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_3"
        android:supportsRtl="true"
        android:theme="@style/Theme.SrApp">

        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />

        <activity android:name=".ui.category.management.subcategory.SubcategoryManagementActivity"></activity>
        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"/>
        <activity android:name=".ui.profile.ProfileActivity" />
        <activity android:name=".ui.category.management.category.CategoryManagementActivity" />
        <activity android:name=".ui.settings.SettingActivity" />
        <activity android:name=".ui.categoryform.subcategory.SubcategoryFormActivity" />
        <activity android:name=".ui.category.subcategories.SubcategoriesActivity" />
        <activity android:name=".ui.categoryform.category.CategoryFormActivity" />
        <activity android:name=".ui.auth.register.RegisterActivity" />
        <activity android:name=".ui.auth.login.LoginActivity" />
        <activity android:name=".ui.category.category.CategoryActivity" />
        <activity android:name=".ui.times.TimesActivity" />
        <activity android:name=".ui.category.subcategory.SubcategoryActivity" />
        <activity
            android:name=".ui.splash.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>